#apppage .gradient {
  background: -moz-linear-gradient(
    45deg,
    rgba(42, 27, 161, 0.7),
    rgba(210, 29, 29, 0.7) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(42, 27, 161, 0.7),
    rgba(210, 29, 29, 0.7) 100%
  );
  background: -webkit-gradient(
    linear,
    45deg,
    from(rgba(42, 27, 161, 0.7)),
    to rgba(210, 29, 29, 0.7) 100%
  );
  background: -o-linear-gradient(
    45deg,
    rgba(42, 27, 161, 0.7),
    rgba(210, 29, 29, 0.7) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(42, 27, 161, 0.7),
    rgba(210, 29, 29, 0.7) 100%
  );
}

#apppage .view {
  background-image: url("https://img.wallpapersafari.com/desktop/1920/1080/38/24/X3ksnR.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 90vh;
}

#apppage h6 {
  line-height: 1.7;
}

.rightCardImg {
  margin-top: 10rem;
}

.flex {
  display: flex;
}

@media only screen and (max-width: 400px) {
  #apppage .animated img {
    max-height: 50vh;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
  }
}
@media only screen and (max-width: 767px) {
  #apppage .animated img {
    max-height: 35vh;
    transform: translateX(-50%);
    left: 50%;
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  #apppage .animated img {
    max-height: 50vh;
    transform: translateX(-50%);
    left: 50%;
    position: relative;
  }
}
@media (max-width: 1000px) and (orientation: landscape) {
  #apppage .view {
    min-height: 150vh;
  }
}
